@import '~bootstrap/dist/css/bootstrap.min.css';

@keyframes walkSprite{
      from{background-position-x:-288px;}
      to{background-position-x:-384px;}
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #fff;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
    //opacity: 0.5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}

#page {
    position: relative;
    top: 0in;
    left: 0in;
}

body {
    margin: 0;
}

html {
    overflow-x: hidden;
    margin: 0;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  font-smooth: never;
  -webkit-font-smoothing : none;
}
